<!-- gallery -->
<div id="gallery" class="gallery">
  <div class="container">
    <div class="agile-title">
      <h3> Our Gallery</h3>
    </div>
    <div class="gallery-agileinfo-row">

      <ng-container *ngFor="let itemArray of chunkArray(items, 3); let i = index">
        <div *ngFor="let item of itemArray" class="col-md-4 gallery-grids"
             [ngClass]="{'gallery-grids-mdl': i % 2 != 0}">
          <div class="hover ehover14">
            <a [href]="item.imageUrl" class="swipebox" [title]="item.description">
              <img [src]="item.imageUrl" alt="" class="img-responsive"/>
              <div class="overlay">
                <h4>{{item.name}}</h4>
                <div class="info nullbutton button" data-toggle="modal" data-target="#modal14">Show More</div>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //gallery -->
