<!-- address -->
<div id="contact" class="address">
  <div class="container">
    <div class="agile-title">
      <h3> Contact Us</h3>
    </div>
    <ul>
      <li><i class="fa fa-map-marker" aria-hidden="true"></i>Xo Viet Nghe Tinh St, Vietnam, HCM 700000, Ho Chi Minh</li>
      <li><i class="fa fa-phone" aria-hidden="true"> </i>  +01 111 222 3333</li>
      <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com"> nguyentrucxinh@outlook.com</a></li>
    </ul>
  </div>
</div>
<!-- //address -->
<!-- contact -->
<div class="contact">
  <div class="col-md-6 contact-left">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57537.641430789925!2d-74.03215321337959!3d40.719122105634035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1456152197129" allowfullscreen=""></iframe>
  </div>
  <div class="col-md-6 contact-right">
    <div class="wthree-contact-row">
      <h4>Get In TOuch</h4>
      <form action="#" method="post">
        <input type="text" name="Name" placeholder="Name" required="">
        <input class="email" type="text" name="Email" placeholder="Email" required="">
        <textarea placeholder="Message" name="Message" required=""></textarea>
        <input type="submit" value="SUBMIT">
      </form>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!-- //contact -->
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="social-icon">
      <a href="mailto:nguyentrucxinh@outlook.com" title="Email" target="_blank" class="social-button google"><i class="fa fa-envelope"></i></a>
      <a href="https://twitter.com/nguyentrucxinh" title="Twitter" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/nguyentrucxinh" title="LinkedIn" target="_blank" class="social-button facebook"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/nguyentrucxinh" title="GitHub" target="_blank" class="social-button dribbble"><i class="fa fa-github"></i></a>
    </div>
    <p>This site is developed in Angular by Xinh Nguyen from the original design from <a href="http://w3layouts.com">W3layouts</a></p>
    <p>© 2016 Grilling. All rights reserved</p>
  </div>
</div>
<!-- //footer -->
