<!--/forms-->
<div class="forms-main_agileits">

  <div class="graph-form agile_info_shadow">
    <h3 class="w3_inner_tittle two">Basic Form </h3>
    <div class="form-body">
      <form>
        <div class="form-group"><label for="exampleInputEmail1">Email address</label> <input type="email"
                                                                                             class="form-control"
                                                                                             id="exampleInputEmail1"
                                                                                             placeholder="Email"></div>
        <div class="form-group"><label for="exampleInputPassword1">Password</label> <input type="password"
                                                                                           class="form-control"
                                                                                           id="exampleInputPassword1"
                                                                                           placeholder="Password"></div>
        <div class="form-group"><label for="exampleInputFile">File input</label> <input type="file"
                                                                                        id="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p></div>
        <div class="checkbox"><label> <input type="checkbox"> Check me out </label></div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  </div>
  <!--/forms-inner-->
  <div class="forms-inner">
    <!--/set-1-->
    <div class="set-1_w3ls">

      <div class="col-md-6 button_set_one agile_info_shadow graph-form">
        <h3 class="w3_inner_tittle two">Horizontal form </h3>
        <div class="grid-1">
          <div class="form-body">
            <form class="form-horizontal">
              <div class="form-group"><label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-9"><input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group"><label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-9"><input type="password" class="form-control" id="inputPassword3"
                                             placeholder="Password"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox"><label> <input type="checkbox"> Remember me </label></div>
                </div>
              </div>
              <div class="col-sm-offset-2">
                <button type="submit" class="btn btn-default">Sign in</button>
              </div>
            </form>
          </div>

        </div>
      </div>
      <div class="col-md-6 button_set_one two agile_info_shadow graph-form">
        <h3 class="w3_inner_tittle two">Inline Form </h3>
        <div class="grid-1">
          <div class="form-body">
            <div data-example-id="simple-form-inline">
              <form class="form-inline">
                <div class="form-group"><input type="email" class="form-control" id="exampleInputEmail3"
                                               placeholder="Email"></div>
                <div class="form-group"><input type="password" class="form-control" id="exampleInputPassword3"
                                               placeholder="Password"></div>
                <div class="checkbox"><label> <input type="checkbox"> Remember me </label></div>
                <button type="submit" class="btn btn-default">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--//set-1-->
    <!--/set-2-->

    <div class="wthree_general graph-form agile_info_shadow ">
      <h3 class="w3_inner_tittle two">General Form </h3>

      <div class="grid-1 ">
        <div class="form-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="focusedinput" class="col-sm-2 control-label">Focused Input</label>
              <div class="col-sm-8">
                <input type="text" class="form-control1" id="focusedinput" placeholder="Default Input">
              </div>
              <div class="col-sm-2">
                <p class="help-block">Your help text!</p>
              </div>
            </div>
            <div class="form-group">
              <label for="disabledinput" class="col-sm-2 control-label">Disabled Input</label>
              <div class="col-sm-8">
                <input disabled="" type="text" class="form-control1" id="disabledinput" placeholder="Disabled Input">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-8">
                <input type="password" class="form-control1" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="checkbox" class="col-sm-2 control-label">Checkbox</label>
              <div class="col-sm-8">
                <div class="checkbox-inline1"><label><input type="checkbox"> Unchecked</label></div>
                <div class="checkbox-inline1"><label><input type="checkbox" checked=""> Checked</label></div>
                <div class="checkbox-inline1"><label><input type="checkbox" disabled=""> Disabled Unchecked</label>
                </div>
                <div class="checkbox-inline1"><label><input type="checkbox" disabled="" checked=""> Disabled
                  Checked</label></div>
              </div>
            </div>
            <div class="form-group">
              <label for="checkbox" class="col-sm-2 control-label">Checkbox Inline</label>
              <div class="col-sm-8">
                <div class="checkbox-inline"><label><input type="checkbox"> Unchecked</label></div>
                <div class="checkbox-inline"><label><input type="checkbox" checked=""> Checked</label></div>
                <div class="checkbox-inline"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>
                <div class="checkbox-inline"><label><input type="checkbox" disabled="" checked=""> Disabled
                  Checked</label></div>
              </div>
            </div>
            <div class="form-group">
              <label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
              <div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1">
                <option>Lorem ipsum dolor sit amet.</option>
                <option>Dolore, ab unde modi est!</option>
                <option>Illum, fuga minus sit eaque.</option>
                <option>Consequatur ducimus maiores voluptatum minima.</option>
              </select></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Multiple Select</label>
              <div class="col-sm-8">
                <select multiple="" class="form-control1">
                  <option>Option 1</option>
                  <option>Option 2</option>
                  <option>Option 3</option>
                  <option>Option 4</option>
                  <option>Option 5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="txtarea1" class="col-sm-2 control-label">Textarea</label>
              <div class="col-sm-8"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4"
                                              class="form-control1"></textarea></div>
            </div>
            <div class="form-group">
              <label for="radio" class="col-sm-2 control-label">Radio</label>
              <div class="col-sm-8">
                <div class="radio block"><label><input type="radio"> Unchecked</label></div>
                <div class="radio block"><label><input type="radio" checked=""> Checked</label></div>
                <div class="radio block"><label><input type="radio" disabled=""> Disabled Unchecked</label></div>
                <div class="radio block"><label><input type="radio" disabled="" checked=""> Disabled Checked</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="radio" class="col-sm-2 control-label">Radio Inline</label>
              <div class="col-sm-8">
                <div class="radio-inline"><label><input type="radio"> Unchecked</label></div>
                <div class="radio-inline"><label><input type="radio" checked=""> Checked</label></div>
                <div class="radio-inline"><label><input type="radio" disabled=""> Disabled Unchecked</label></div>
                <div class="radio-inline"><label><input type="radio" disabled="" checked=""> Disabled Checked</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="smallinput" class="col-sm-2 control-label label-input-sm">Small Input</label>
              <div class="col-sm-8">
                <input type="text" class="form-control1 input-sm" id="smallinput" placeholder="Small Input">
              </div>
            </div>
            <div class="form-group">
              <label for="mediuminput" class="col-sm-2 control-label">Medium Input</label>
              <div class="col-sm-8">
                <input type="text" class="form-control1" id="mediuminput" placeholder="Medium Input">
              </div>
            </div>
            <div class="form-group mb-n">
              <label for="largeinput" class="col-sm-2 control-label label-input-lg">Large Input</label>
              <div class="col-sm-8">
                <input type="text" class="form-control1 input-lg" id="largeinput" placeholder="Large Input">
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <!--//set-2-->

    <!--/set-3-->

    <div class="wthree_general">


      <div class="grid-1 graph-form agile_info_shadow">
        <h3 class="w3_inner_tittle two">General Form </h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">Email Address</label>
            <div class="col-md-8">
              <div class="input-group">
                                                                                                                    <span
                                                                                                                      class="input-group-addon">
                                                                                                                        <i
                                                                                                                          class="fa fa-envelope-o"></i>
                                                                                                                    </span>
                <input type="text" class="form-control1 icon" placeholder="Email Address">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-8">
              <div class="input-group">
                                                                                                                    <span
                                                                                                                      class="input-group-addon">
                                                                                                                        <i
                                                                                                                          class="fa fa-key"></i>
                                                                                                                    </span>
                <input type="password" class="form-control1 icon" id="exampleInputPassword1" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Email Address</label>
            <div class="col-md-8">
              <div class="input-group input-icon right">
                                                                                                                    <span
                                                                                                                      class="input-group-addon">
                                                                                                                        <i
                                                                                                                          class="fa fa-envelope-o"></i>
                                                                                                                    </span>
                <input id="email" class="form-control1 icon" type="text" placeholder="Email Address">
              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">With tooltip</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-8">
              <div class="input-group input-icon right">
                                                                                                                    <span
                                                                                                                      class="input-group-addon">
                                                                                                                        <i
                                                                                                                          class="fa fa-key"></i>
                                                                                                                    </span>
                <input type="password" class="form-control1 icon" placeholder="Password">
              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">With tooltip</p>
            </div>
          </div>
          <div class="form-group has-success">
            <label class="col-md-2 control-label">Input Addon Success</label>
            <div class="col-md-8">
              <div class="input-group input-icon right">
                                                                                                                    <span
                                                                                                                      class="input-group-addon">
                                                                                                                        <i
                                                                                                                          class="fa fa-envelope-o"></i>
                                                                                                                    </span>
                <input id="email" class="form-control1 icon" type="text" placeholder="Email Address">
              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">Email is valid!</p>
            </div>
          </div>
          <div class="form-group has-error">
            <label class="col-md-2 control-label">Input Addon Error</label>
            <div class="col-md-8">
              <div class="input-group input-icon right">
                                                                                                                    <span
                                                                                                                      class="input-group-addon">
                                                                                                                        <i
                                                                                                                          class="fa fa-key"></i>
                                                                                                                    </span>
                <input type="password" class="form-control1 icon" placeholder="Password">
              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">Error!</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Checkbox Addon</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-addon"><input type="checkbox"></div>
                <input type="text" class="form-control1 icon">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Checkbox Addon</label>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control1 icon">
                <div class="input-group-addon"><input type="checkbox"></div>

              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">Checkbox on right</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Radio Addon</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-addon"><input type="radio"></div>
                <input type="text" class="form-control1 icon">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Radio Addon</label>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control1 icon">
                <div class="input-group-addon"><input type="radio"></div>

              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">Radio on right</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Input Processing</label>
            <div class="col-md-8">
              <div class="input-icon right spinner">
                <i class="fa fa-fw fa-spin fa-spinner"></i>
                <input id="email" class="form-control1 icon" type="text" placeholder="Processing...">
              </div>
            </div>
            <div class="col-sm-2">
              <p class="help-block">Processing right</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Static Paragraph</label>
            <div class="col-md-8">
              <p class="form-control1 m-n">email@example.com</p>
            </div>
          </div>
          <div class="form-group mb-n">
            <label class="col-md-2 control-label">Read Only</label>
            <div class="col-md-8">
              <input type="text" class="form-control1 icon" placeholder="Readonly" readonly="">
            </div>
          </div>
        </form>

      </div>
    </div>
    <!--//set-3-->
    <!--/set-4-->
    <div class="graph-2 graph-form general agile_info_shadow">
      <h3 class="w3_inner_tittle two">General Form </h3>
      <div class="grid-1">
        <div class="forms">

          <div data-example-id="form-validation-states-with-icons">
            <form>
              <div class="form-group has-success has-feedback"><label class="control-label" for="inputSuccess2">Input
                with success</label> <input type="text" class="form-control" id="inputSuccess2"
                                            aria-describedby="inputSuccess2Status"> <span
                class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> <span
                id="inputSuccess2Status" class="sr-only">(success)</span></div>
              <div class="form-group has-warning has-feedback"><label class="control-label" for="inputWarning2">Input
                with warning</label> <input type="text" class="form-control" id="inputWarning2"
                                            aria-describedby="inputWarning2Status"> <span
                class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span> <span
                id="inputWarning2Status" class="sr-only">(warning)</span></div>
              <div class="form-group has-error has-feedback"><label class="control-label" for="inputError2">Input with
                error</label> <input type="text" class="form-control" id="inputError2"
                                     aria-describedby="inputError2Status"> <span
                class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span> <span
                id="inputError2Status" class="sr-only">(error)</span></div>
              <div class="form-group has-success has-feedback"><label class="control-label" for="inputGroupSuccess1">Input
                group with success</label>
                <div class="input-group"><span class="input-group-addon">@</span> <input type="text"
                                                                                         class="form-control"
                                                                                         id="inputGroupSuccess1"
                                                                                         aria-describedby="inputGroupSuccess1Status">
                </div>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> <span
                  id="inputGroupSuccess1Status" class="sr-only">(success)</span></div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--//set-4-->
  </div>
  <!--//forms-inner-->
</div>
<!--//forms-->
