<!--/forms-->
<div class="forms-main_agileits">

  <div class="graph-form agile_info_shadow">
    <h3 class="w3_inner_tittle two">Basic Form </h3>
    <div class="form-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="item.name" name="name" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Description</label>
          <input [(ngModel)]="item.description" name="description" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>File Image</label>
          <input #file multiple type="file">
          <p class="help-block">Example block-level help text here.</p></div>

        <button (click)="upload()" type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  </div>

</div>
<!--//forms-->
