<!-- banner -->
<div class="wthree_agile_admin_info">

  <app-nav></app-nav>

  <!-- /inner_content-->
  <div class="inner_content">
    <!-- /inner_content_w3_agile_info-->

    <app-breadcrumb></app-breadcrumb>

    <div class="inner_content_w3_agile_info two_in">
      <h2 class="w3_inner_tittle">Inputs</h2>

      <app-form></app-form>

      <!--<app-social-media></app-social-media>-->
    </div>
    <!-- //inner_content_w3_agile_info-->
  </div>
  <!-- //inner_content-->
</div>
<!-- banner -->
<!--copy rights start here-->
<div class="copyrights">
  <p>This site is developed in Angular by Xinh Nguyen</p>
  <p>© 2017 Esteem. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
</div>
<!--copy rights end here-->
