<!-- menu -->
<div id="menu" class="menu">
  <div class="container">
    <div class="agile-title">
      <h3> Our Menu</h3>
    </div>
    <ul class="accordion">

        <li *ngFor="let item of items; let i = index" class="slide-{{i}}">
          <div class="menu-left">
            <img [src]="item.imageUrl" alt=""/>
            <div class="menu-right">
              <h4>{{item.name}} </h4>
              <h5>$20 </h5>
              <p>{{item.description}} </p>
            </div>
          </div>
        </li>

    </ul>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //menu -->
