<!-- menu -->
<div id="menu" class="menu">
  <div class="container">
    <div class="agile-title">
      <h3> Our Menu</h3>
    </div>
    <ul class="accordion">
      <li class="slide-01">
        <div class="menu-left">
          <img src="assets/images/m1.jpg" alt=""/>
          <div class="menu-right">
            <h4>Blandit sed </h4>
            <h5>$20 </h5>
            <p>In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui, non consectetur felis </p>
          </div>
        </div>
      </li>
      <li class="slide-02">
        <div class="menu-left">
          <img src="assets/images/m2.jpg" alt=""/>
          <div class="menu-right">
            <h4>Faucibus </h4>
            <h5>$15 </h5>
            <p>In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui, non consectetur felis </p>
          </div>
        </div>
      </li>
      <li class="slide-03">
        <div class="menu-left">
          <img src="assets/images/m3.jpg" alt=""/>
          <div class="menu-right">
            <h4>Vulputate </h4>
            <h5>$50 </h5>
            <p>In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui, non consectetur felis </p>
          </div>
        </div>
      </li>
      <li class="slide-04">
        <div class="menu-left">
          <img src="assets/images/m4.jpg" alt=""/>
          <div class="menu-right">
            <h4>Fusce sed </h4>
            <h5>$60 </h5>
            <p>In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui, non consectetur felis </p>
          </div>
        </div>
      </li>
      <li class="slide-05">
        <div class="menu-left">
          <img src="assets/images/m5.jpg" alt=""/>
          <div class="menu-right">
            <h4>Imperdiet ero</h4>
            <h5>$36 </h5>
            <p>Fusce sed vulputate dui, non consectetur felis In malesuada accumsan felis, a imperdiet arcu blandit sed ut id faucibus. </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //menu -->
