<!-- /social_media-->
<div class="social_media_w3ls">

  <div class="col-md-3 socail_grid_agile facebook">
    <ul class="icon_w3_info">
      <li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li>Facebook</li>
    </ul>
    <ul class="icon_w3_social">
      <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-user" aria-hidden="true"></i></li>
    </ul>
    <div class="clearfix"></div>
    <div class="bottom_info_social">
      <div class="col-md-4 agile_w3l_social_media_text_img">
        <img src="assets/images/admin.jpg" alt="">
      </div>
      <div class="col-md-8 agile_w3l_social_media_text">
        <h4>Hurisa Joe</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-3 socail_grid_agile twitter">
    <ul class="icon_w3_info">
      <li><a href="#" class="wthree_facebook"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li>Twitter</li>
    </ul>
    <ul class="icon_w3_social">
      <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-user" aria-hidden="true"></i></li>
    </ul>
    <div class="clearfix"></div>
    <div class="bottom_info_social">
      <div class="col-md-4 agile_w3l_social_media_text_img">
        <img src="assets/images/a1.jpg" alt="">
      </div>
      <div class="col-md-8 agile_w3l_social_media_text">
        <h4>Jasmin Joe</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-3 socail_grid_agile gmail">
    <ul class="icon_w3_info">
      <li><a href="#" class="wthree_facebook"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li>Google+</li>
    </ul>
    <ul class="icon_w3_social">
      <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-user" aria-hidden="true"></i></li>
    </ul>
    <div class="clearfix"></div>
    <div class="bottom_info_social">
      <div class="col-md-4 agile_w3l_social_media_text_img">
        <img src="assets/images/a2.jpg" alt="">
      </div>
      <div class="col-md-8 agile_w3l_social_media_text">
        <h4>John Pal</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-3 socail_grid_agile dribble">

    <ul class="icon_w3_info">
      <li><a href="#" class="wthree_facebook"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
      <li>Dribbble</li>
    </ul>
    <ul class="icon_w3_social">
      <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
      <li><i class="fa fa-user" aria-hidden="true"></i></li>
    </ul>
    <div class="clearfix"></div>
    <div class="bottom_info_social">
      <div class="col-md-4 agile_w3l_social_media_text_img">
        <img src="assets/images/a4.jpg" alt="">
      </div>
      <div class="col-md-8 agile_w3l_social_media_text">
        <h4>Honey Pal</h4>
        <p>Lorem ipsum dolor sit amet</p>
      </div>

      <div class="clearfix"></div>
    </div>

  </div>
  <div class="clearfix"></div>

</div>
<!-- //social_media-->
